html{
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:0;
}

.header
{
	text-align: center;
	padding:100px 0px;
}


.container{
	margin:0;
	padding:0;
}


.block{
	float:Left;
	width:25%;
}

.block img {
  display: block;
  width: 100%;
}