video#bgvid {
    position: fixed;
    top: -10%;
    left: 50%;
    min-width: 100%;
    width: auto;
    min-height: 110%;
    z-index: -100;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
