header {
    background-color: rgba(0,0,0,0);
    height: 50px;
    color:white;
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 10;
}

.carvertise_logo_top
{
	margin:15px 50px;
	font-size: 20px;
}

.tabs_top{
	position:absolute;
	top:0px;
	right:0px;
	padding:15px;
}

.tabs_top a{

   text-decoration: none;
}

@media (max-width: 768px) {

.tabs_top{display: none;}
}


.tabs_top_mobile
{
	display: none;
	position:absolute;
	top:0px;
	right:0px;
	padding:10px;

}

.tabs_top_mobile img{
	width:30px;
}

@media (max-width: 768px) {

.tabs_top_mobile
{
	display:inline;

}
}

.single_tab
{
	color:white;
	margin:0px 30px;
	font-size: 15px;
}
.nav-up {
    top: -50px;
}

.nav-color{
  background-color: rgba(0,0,0,1);
}
